body {
  margin: 0;
  transition: background-color .2s ease 0s;
}

.title {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  transition: color .2s ease 0s;
}

.list {
  line-height: 1;
  list-style-type: none;
  margin: 24px 0 0 0;
  padding: 0;
  text-align: center;
}

.list .item {
  display: inline;
}

.main {
  margin: 24px auto 0 auto;
  text-align: center;
  width: 100vw;
}
